<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>dddnuts</string>
	<key>Builder Version</key>
	<string>10601.5.17.4</string>
	<key>CFBundleDisplayName</key>
	<string>mdlink</string>
	<key>CFBundleIdentifier</key>
	<string>com.kakeragames.mdlink</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>copy</string>
				<key>Identifier</key>
				<string>toolbar</string>
				<key>Image</key>
				<string>images/clip.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>mdl</string>
				<key>Palette Label</key>
				<string>mdlink</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>capture URL as markdown link format</string>
	<key>DeveloperIdentifier</key>
	<string>P5WMZCU6DH</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
